//  $$\      $$\ $$\           $$\
//  $$$\    $$$ |\__|          \__|
//  $$$$\  $$$$ |$$\ $$\   $$\ $$\ $$$$$$$\   $$$$$$$\
//  $$\$$\$$ $$ |$$ |\$$\ $$  |$$ |$$  __$$\ $$  _____|
//  $$ \$$$  $$ |$$ | \$$$$  / $$ |$$ |  $$ |\$$$$$$\
//  $$ |\$  /$$ |$$ | $$  $$<  $$ |$$ |  $$ | \____$$\
//  $$ | \_/ $$ |$$ |$$  /\$$\ $$ |$$ |  $$ |$$$$$$$  |
//  \__|     \__|\__|\__/  \__|\__|\__|  \__|\_______/
//
//
//

// ------------------------------------------------------------
// BEM
// http://unakravets.tumblr.com/post/64113156740/sass-3-3-at-root-bem
// ------------------------------------------------------------

//elements get appended with "__" and the $name
@mixin e($name) {
	@at-root &__#{$name} {
		@content;
	}
}

//modifiers get appended with "--" and the $name
@mixin m($name) {
	@at-root &--#{$name} {
		@content;
	}
}

// ------------------------------------------------------------
// Omega Reset Mixin
// http://joshfry.me/notes/omega-reset-for-bourbon-neat/
// ------------------------------------------------------------
@mixin omega-reset($nth) {
	&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	&:nth-child(#{$nth}+1) { clear: none }
}

// -------------------------------------------------------------
// 4-up
// -------------------------------------------------------------

@mixin layout-four-up($align: center) {

	@include media( $widescreen ) {
		@include span-columns( 3 );
		@include omega( 4n );
		text-align: $align;
	}

	@include media( $large ) {
		@include span-columns( 4 );
		@include omega( 3n );
		text-align: $align;
	}

	@include media( $medium ) {
		@include span-columns( 6 );
		@include omega( 2n );
		text-align: $align;
	}

	@include media( $small ) {
		@include span-columns( 12 );
	}
}

// -------------------------------------------------------------
// 3-up
// -------------------------------------------------------------

@mixin layout-three-up($align: center) {

	@include media( $widescreen ) {
		@include span-columns( 4 );
		@include omega( 3n );
		text-align: $align;
	}

	@include media( $large ) {
		@include span-columns( 4 );
		@include omega( 3n );
		text-align: $align;
	}

	@include media( $medium ) {
		@include span-columns( 12 );
	}

	@include media( $small ) {
		@include span-columns( 12 );
	}
}

// -------------------------------------------------------------
// 2-up
// -------------------------------------------------------------

@mixin layout-two-up($align: center) {

	@include media( $widescreen ) {
		@include span-columns( 6 );
		@include omega( 2n );
		text-align: $align;
	}

	@include media( $large ) {
		@include span-columns( 6 );
		@include omega( 2n );
		text-align: $align;
	}

	@include media( $medium ) {
		@include span-columns( 12 );
	}

	@include media( $small ) {
		@include span-columns( 12 );
	}
}

// ---------------------------------------------------------------------------------
// Image Replacement
// ---------------------------------------------------------------------------------

@mixin img-replacement($width, $height, $display: block) {
	display: $display;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: $width;
	height: $height;
}

// ---------------------------------------------------------------------------------
// Less Than IE9
// ---------------------------------------------------------------------------------

@mixin lt-ie9 { .lt-ie9 & { @content } }

// ---------------------------------------------------------------------------------
// Are you a touch-enabled device? Are you? ANSWER ME!
// ---------------------------------------------------------------------------------

@mixin is-touch { .touch & { @content } }

// ---------------------------------------------------------------------------------
// Modernizr SVG Fallback
// Inspired by https://forrst.com/posts/Sass_Compass_Mixin_for_SVG_Background_Image_Fall-dWn
// ---------------------------------------------------------------------------------

// Mixin for browswers that don't support .svg and also IE8 because, well, IE8.
@mixin no-svg { .no-svg & { @content } }

@mixin svg-bg($filename, $pos-x: 0, $pos-y: 0, $repeat: no-repeat, $extension: '.png') {
	background-image: url($bg-img-path + $filename + '.svg');
	background-position: $pos-x $pos-y;
	background-repeat: $repeat;
	@include no-svg {
		background-image: url($bg-img-path + $filename + $extension);
		background-position: $pos-x $pos-y;
		background-repeat: $repeat;
	}
}

// ---------------------------------------------------------------------------------
// 3d Transform Mixin
// ---------------------------------------------------------------------------------
@mixin hardware-acceleration {
	@include transform( translate3d( 0, 0, 0 ) );
	@include backface-visibility(hidden);
	@include perspective(1000);
}