//  $$\      $$\ $$\           $$\
//  $$$\    $$$ |\__|          \__|
//  $$$$\  $$$$ |$$\ $$\   $$\ $$\ $$$$$$$\   $$$$$$$\
//  $$\$$\$$ $$ |$$ |\$$\ $$  |$$ |$$  __$$\ $$  _____|
//  $$ \$$$  $$ |$$ | \$$$$  / $$ |$$ |  $$ |\$$$$$$\
//  $$ |\$  /$$ |$$ | $$  $$<  $$ |$$ |  $$ | \____$$\
//  $$ | \_/ $$ |$$ |$$  /\$$\ $$ |$$ |  $$ |$$$$$$$  |
//  \__|     \__|\__|\__/  \__|\__|\__|  \__|\_______/
//
//
//

// ------------------------------------------------------------
// Omega Reset Mixin for Neat
// http://joshfry.me/notes/omega-reset-for-bourbon-neat/
// ------------------------------------------------------------
@mixin omega-reset($nth) {
	&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	&:nth-child(#{$nth}+1) { clear: none }
}

// ---------------------------------------------------------------------------------
// Image Replacement
// ---------------------------------------------------------------------------------

@mixin img-replacement($width, $height, $display: block) {
	display: $display;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: $width;
	height: $height;
}

// ---------------------------------------------------------------------------------
// Hide Checkbox Input
// ---------------------------------------------------------------------------------

@mixin hide-checkbox() {
	display: none;
}

// ---------------------------------------------------------------------------------
// Caps
// ---------------------------------------------------------------------------------

@mixin caps($letter-spacing: 0.05em) {
	text-transform: uppercase;
	letter-spacing: $letter-spacing;
}

// ---------------------------------------------------------------------------------
// 3d Transform Mixin
// ---------------------------------------------------------------------------------
@mixin hardware-acceleration {
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0,0,0);
}

// ---------------------------------------------------------------------------------
// Are you a touch-enabled device? Are you? ANSWER ME!
// Note: Modernizr dependent
// ---------------------------------------------------------------------------------

@mixin is-touch {.touch & { @content }; }

// ---------------------------------------------------------------------------------
// Modernizr SVG Fallback
// Inspired by https://forrst.com/posts/Sass_Compass_Mixin_for_SVG_Background_Image_Fall-dWn
// Note: Modernizr dependent
// ---------------------------------------------------------------------------------

// Mixin for browswers that don't support .svg and also IE8 because, well, IE8.
@mixin no-svg { .no-svg & { @content }; }

@mixin svg-bg($filename, $pos-x: 0, $pos-y: 0, $repeat: no-repeat, $extension: '.png') {
	background-image: url($bg-img-path + $filename + '.svg');
	background-position: $pos-x $pos-y;
	background-repeat: $repeat;
	@include no-svg {
		background-image: url($bg-img-path + $filename + $extension);
		background-position: $pos-x $pos-y;
		background-repeat: $repeat;
	}
}
