*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	color: $default-body-color;
	font: {
		family:
			-apple-system, BlinkMacSystemFont, /* MacOS and iOS */
	       'avenir next', avenir, /* MacOS and iOS */
	       'Segoe UI', /* Windows */
	       'lucida grande', /* Older MacOS */
	       'helvetica neue', helvetica, /* Older MacOS */
	       'Fira Sans', /* Firefox OS */
	       roboto, noto, /* Google stuff */
	       'Droid Sans', /* Old Google stuff */
	       cantarell, oxygen, ubuntu, /* Linux stuff */
	       'franklin gothic medium', 'century gothic', /* Windows stuff */
	       'Liberation Sans', /* Linux */
	       sans-serif; /* Everything else */
		size: 1em;
	}
	font-feature-settings: "liga", "kern", "pnum", "case";
	margin: 0;
	padding: 0;
}

@import "images";
@import "typography";
