//  $$$$$$$$\
//  $$  _____|
//  $$ |    $$$$$$\   $$$$$$\  $$$$$$\$$$$\   $$$$$$$\
//  $$$$$\ $$  __$$\ $$  __$$\ $$  _$$  _$$\ $$  _____|
//  $$  __|$$ /  $$ |$$ |  \__|$$ / $$ / $$ |\$$$$$$\
//  $$ |   $$ |  $$ |$$ |      $$ | $$ | $$ | \____$$\
//  $$ |   \$$$$$$  |$$ |      $$ | $$ | $$ |$$$$$$$  |
//  \__|    \______/ \__|      \__| \__| \__|\_______/
//
//
//

// Nope, iOS. Nope.
input {
	border-radius: 0;
}

form {
	width: 100%;
}

#{$all-text-inputs},
textarea {
	width: 100%;
}

select {
	width: 100%;
}

label {
	display: block;
}
