//  $$$$$$$\             $$$$$$\                     $$\   $$\
//  $$  __$$\           $$  __$$\                    $$ |  $$ |
//  $$ |  $$ | $$$$$$\  $$ /  \__|$$$$$$\  $$\   $$\ $$ |$$$$$$\    $$$$$$$\
//  $$ |  $$ |$$  __$$\ $$$$\     \____$$\ $$ |  $$ |$$ |\_$$  _|  $$  _____|
//  $$ |  $$ |$$$$$$$$ |$$  _|    $$$$$$$ |$$ |  $$ |$$ |  $$ |    \$$$$$$\
//  $$ |  $$ |$$   ____|$$ |     $$  __$$ |$$ |  $$ |$$ |  $$ |$$\  \____$$\
//  $$$$$$$  |\$$$$$$$\ $$ |     \$$$$$$$ |\$$$$$$  |$$ |  \$$$$  |$$$$$$$  |
//  \_______/  \_______|\__|      \_______| \______/ \__|   \____/ \_______/
//
//
//

// ---------------------------------------------------------------------------------
// Debug Mode
// ---------------------------------------------------------------------------------


$debug-mode: false !default;

// ---------------------------------------------------------------------------------
// BG Image Path
// ---------------------------------------------------------------------------------

$bg-img-path: '/assets/build/img/';


// ---------------------------------------------------------------------------------
// Font Path
// ---------------------------------------------------------------------------------

$fonts-path: '/assets/fonts/';

// ---------------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------------

$color-black: #000000;
$color-white: #ffffff;

// http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
$palettes: (
	gray: (
		base: #AAAAAA,
	),
);

@function palette($palette, $tone: 'base') {
	@return map-get(map-get($palettes, $palette), $tone);
}

$default-body-color      : palette(gray);
$default-link-color      : palette(gray);
$default-link-color-hover: palette(gray);

// ---------------------------------------------------------------------------------
// Breakpoints
// ---------------------------------------------------------------------------------

$widescreen: new-breakpoint(min-width 1025px); // Desktop-ish
$large     : new-breakpoint(min-width 769px max-width 1024px); // Desktop-ish
$medium    : new-breakpoint(min-width 480px max-width 768px); // Tablet-ish
$small     : new-breakpoint(min-width 320px max-width 480px); // Mobileness-ish

// ---------------------------------------------------------------------------------
// Sizing
// ---------------------------------------------------------------------------------

$base-font-size   : 16;
$base-line-height : 26;

$base-spacing-unit: em($base-line-height);
$half-spacing-unit: $base-spacing-unit / 2;
$line-height-ratio: $base-line-height / $base-font-size;

// ---------------------------------------------------------------------------------
// Type
// ---------------------------------------------------------------------------------

$base-font-family   : 'Helvetica Neue', Arial, Helvetica, sans-serif;
$header-font-family : 'Helvetica Neue', Arial, Helvetica, sans-serif;
$header-font-weight : 700;
